
  
body {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: linear-gradient(180deg,#f5bd60, #84a59e, #f28582);
}

h1 {
    text-align: center;
}

#forms {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
    padding: 5px;
    width: 200px;
}

select {
    margin-right: 10px;
    padding: 5px;
}

button {
    padding: 5px 10px;
}

.matriz {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quadrante {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    min-height: 100px;
    background-color: #f9f9f9;
}

.quadrante h2 {
    text-align: center;
}











